spring:
  application:
    name: HDM-be

  datasource:
    url: jdbc:mysql://localhost:3306/hdm
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
